.principale {
    padding-right: 5%;
    padding-left: 5%;
}

@media only screen and (min-width: 1000px) {
    .principale {
        padding-left: 10%;
        padding-right: 10%;
    }
}

h1 {
    color: #444950;
    font-size: 50px;
    height: 60px;
}

h2 {
    color: #444950;
    font-size: 40px;
    height: 50px;
}

h3 {
    color: #444950;
    font-size: 25px;
    height: 30px;
}