.left {
    float: left;
    width: 33%;
}

.right {
    float: right;
    width: 33%;
}

.center {
    display: inline-block;
    margin: 0 auto;
    width: 34%;
}

.mini-box {
    background-color: black;
    margin: 30px;
    height: 400px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

div.mini-box h1 {    
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}