.padding-fix {
    padding: 10% 10% 10% 10%;
}

.feature {
    border-top-color: rgb(255, 174, 0); 
    border-top-style: solid;
    border-top-width: 100%;
    border-bottom-color: white;
}

.feature .left {
    float: left;
    width: 50%;
}

.feature .right {
    float: right;
    width: 50%;
}

.hide-vertical {
    display: inline;
}

.hide-orizontal {
    display: none;
}

.feature h1 {
    font-size: 40px;
    color: white;
}

.feature ul {
    color: blanchedalmond;
}

.feature ul {
    width: max-content;
    text-align: none;
    margin: 0;
}

.fix-center {
    text-align: none;
}

@media only screen and (min-width: 1270px) {
    iframe, .feature img {
        width: 560px;
        height: 315px; 
    }
    
    .feature {
        background-color: rgb(36, 36, 36);
        width: 100%;
        height: 500px;
    }
}

@media only screen and (max-width: 1270px) {
    iframe, .feature img {
        width: 373px;
        height: 210px;
    }

    .feature {
        background-color: rgb(36, 36, 36);
        width: 100%;
        height: 300px;
    }

    .feature ul {
        width: 400px;
        text-align: none;
        margin: auto;
    }
}

@media only screen and (max-width: 950px) {
    .padding-fix {
        padding: 10% 2px 10% 2px;
    }

    .fix-center {
        text-align: center;
    }

    .feature {
        background-color: rgb(36, 36, 36);
        width: 100%;
        height: 470px;
    }

    .feature ul {
        width: 500px;
        text-align: none;
        margin: auto;
    }    
    
    .feature .right {
        clear: both;
        margin: 0;
        width: 100%;
    }

    .feature .left {
        clear: both;
        margin: 0;
        width: 100%;
    }

    .hide-vertical {
        display: none;
    }

    .hide-orizontal {
        display: inline;
    }

    .feature {
        height: 800px;
    }
}

@media only screen and (max-width: 600px) {
    .feature ul {
        width: 300px;
        text-align: none;
        margin: auto;
    }

    iframe, .feature img {
        width: 287px;
        height: 161px;
    }

    .feature {
        height: 600px;
    }
}

@media only screen and (min-width: 1300px) and (min-height: 1000px) {
    .feature {
        height: 900px;
    }
}
