footer {
    background-color: #f5f6f7;
    padding-left: 10%;
    padding-right: 10%;
    height: 300px;
}

.view {
    position:fixed;
    bottom:0px;
    left: 3px;
    z-index:999999;
}

@media only screen and (max-width: 950px) {
    footer {
        height: max-content;
    }
}