.line-btn {
    height: 3rem;
    width: 9rem;
    border: 3px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.line-btn::before,
.line-btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
}

.line-btn::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
}

.line-btn::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
}

.line-btn:hover::before {
    width: calc(100% + 25px);
    height: calc(100% + 27px);
}

.line-btn:hover::after {
    width: calc(100% + 25px);
    height: calc(100% + 27px);
}