footer {
    height: auto;
    background-color: rgb(14, 14, 14);
    width: 100%;
    padding-bottom: 20px;
}

footer .list {
    display: block;
    text-align: center;
}

footer .long {
    display: block;
    width: 100%;
    text-align: center;
}

footer .block {
    height: calc(100% - 40px);
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    text-align: left;
}

@media only screen and (min-width: 1300px) {
    footer .block {
        margin-right: 8%;
        margin-left: 8%;
    }
}

footer .fotcolor {
    color: rgba(223, 223, 223, 0.863);
    width: 100%;
}

footer p {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

footer ul {
    text-align: left;
    list-style-type: none;
    padding-left: 3px;
}

footer ul a {
    color: rgba(255, 255, 255, 0.568);
    text-decoration: none;
    font-size: 17px;
}

footer ul a:hover {
    color: rgb(82, 85, 253);
    text-decoration: underline;
}
